# Virtual environment
venv/
venv*/
.Python
bin/
include/
lib/
lib64/
pip-selfcheck.json

# IDE files
.vscode/
.idea/
*.iml
*.pyc

# Environment variables
.env

# Database
flask_email_sender.db

# Compiled Python files
*.pyc

# Dependency directories
node_modules/
/dist/